{% extends "blog/base.html" %}
{% block content %}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Desarrolador de la pagina blog a partir de lo aprendio en Coderhouse y otras fuentes</p>
    <p>A conticuacion se detalla la idea principal del derarrolador de la pagina y sus datos.</p>
  </div>
  
  <h2 style="text-align:center">Desarrolador del Blog-Coder</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2>Agustin Andres Altieri</h2>
          <p class="title">Desarrolador del Blog </p>
          <p>Mi nombre es Agustin Andres Altieri, desarollador de la pagina blog como parte de mi entrega final 
            al curso de python y django, se implemento la pagina/blog con la idea de que cualquier usuario ingresado sea capaz
            de compartir sus noticias y ideas.
          </p>
          <p>Contacto: agusaltieri9@gmail.com</p>
        </div>
      </div>
    </div>


{% endblock content %}
